#boardWrapper{
  height: 416px;
  width: 416px;
  background-color: blue;
  /* z-index: 1; */
  /* border: 1px solid black; */
}
.square{
  /* z-index: 10; */
  height: 50px;
  width: 50px;
  float: left;
  background-color: white;
  border: 1px solid black;
}